.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: $color-snow;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: $color-black;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    // border-top: 1px solid $color-darkergrey;
}

.iterm2-logo {
    @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.56));
}

.container .row {
  margin-top: 15px;
}